# ---------------------------
# Frontend (Next.js)
# ---------------------------

# Ignore build output
frontend/.next/
frontend/out/

# Node modules
frontend/node_modules/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ---------------------------
# Backend (FastAPI)
# ---------------------------

# Ignore Python compiled files
backend/__pycache__/
backend/**/*.pyc

# Ignore virtual environment
backend/env/
backend/venv/

# ---------------------------
# OS junk
# ---------------------------

.DS_Store
Thumbs.db

# ---------------------------
# Editor junk
# ---------------------------
.vscode/
.idea/

# ---------------------------
# Other
# ---------------------------

*.log
